body{
    background-color: burlywood;
}

.title{
    text-align: center;
    margin: 20% auto;
    font-size: 24px;
}

.rerun{
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.rerun:hover{
    background-color: darkkhaki;
}

.rerun:active{
    background-color: darkgoldenrod;
}